<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">🏠 Home</a>
    </li>
    <li>
      <a routerLink="/component-communication" routerLinkActive="active">
        🔗 Components
      </a>
    </li>
    <li>
      <a routerLink="/signals" routerLinkActive="active">📡 Signals</a>
    </li>
    <li>
      <a routerLink="/directives" routerLinkActive="active">🪄Directives</a>
    </li>
    <li>
      <a routerLink="/pipes" routerLinkActive="active">
        <span class="material-icons">🧩 Pipes</span>
      </a>
    </li>
    <li>
      <a routerLink="/services" routerLinkActive="active">⚙️ Services</a>
    </li>
  </ul>
</nav>