.child-box {
  border: 1px solid #999;
  border-radius: 6px;
  padding: 12px;
  background: #fff;

  h4 {
    margin-bottom: 8px;
    color: #444;
  }

  input{
      padding: 6px 10px;
      margin-right: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      width: 200px;
  }

  button {
    padding: 5px 10px;
    margin-top: 8px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background: #125ea3;
      }
  }
}
